@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;

    font-family: 'Montserrat';
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    box-sizing: border-box;
    
    background-color: #ed1d24;
    
    top: 0;
    left: 0;
    
    padding: 15px 10px;
    position: fixed;
}

header nav {
    height: fit-content;
}

header img {
    width: 90px;
}

header nav a {
    color: white;

    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

main {
    margin-top: 120px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

article {    
    width: 20%;
    background-color: #eeeded;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 0;
    margin: 5px;
}

article:hover {
    background-color: gray;
}

article h2 {
    text-align: center;
}

article img {
    width: 80%;
    margin: auto;
    display: block;
}

section {
    border-top: 0.5px solid lightgray;

    margin: 15px 5px;

    display: flex;
    justify-content: center;
}

.lista-direita {
    margin-right: 20px;
}

.lista-esquerda {
    border-left: 0.5px solid lightgray;
}

footer {
    background-color: lightgrey;

    width: 100%;

    margin-bottom: 0;
}

footer p {
    text-align: center;

    margin: 0;
}